* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: rgba(50,100,200,.8);
  width: 100%;
  display: table;
}

.footer {
  display: table-row;
  background-image: linear-gradient(45deg, rgba(0,0,0,.1) 0%, rgba(250,250,250,.3) 80%);
  background-color: rgba(50,50,50,.6);
  height: 1px;
}

.footer div {
  color: white;
  text-align: center;
  padding: 15px;
  border-top: 1px solid white;
}

.container {
  background-color: white;
  width: 95%;
  max-width: 850px;
  text-align: center;
  margin: 20px auto;
  border: 1px solid rgba(50,50,50,.5);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.5);
  padding: 15px;
}

input {
  padding: 3px;
}

button {
  padding: 3px;
}

.inputs, ul {
  width: 100%;
  margin: 15px auto;
  clear: both;
  padding: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

input[type="text"] {
  flex: 100 350px;
  margin: 0 2px;
}

.add-item {
  flex: 1 100px;
  margin: 0 2px;
}

li {
  list-style: none;
  text-indent: 0;
  text-align: left;
  margin: 5px 0;
}

li:last-of-type {
  margin-bottom: 20px;
}



.remove-checked, .select-all {
  padding: 5px 10px;
}

.form-control {
  padding: 15px;
}

.task-list {
  position: relative;
  margin: 20px 0 10px;
}

.invalid {
  color: red;
  width: 100%;
  clear: both;
  top: -20px;
  text-align: center;
  position: absolute;
}
